<?xml version="1.0"?>
<config>
    <modules>
        <Futerox_Bannerhome>
            <version>0.1.0</version>
        </Futerox_Bannerhome>
    </modules>
    <frontend>
        <routers>
            <bannerhome>
                <use>standard</use>
                <args>
                    <module>Futerox_Bannerhome</module>
                    <frontName>bannerhome</frontName>
                </args>
            </bannerhome>
        </routers>
        <layout>
            <updates>
                <bannerhome>
                    <file>bannerhome.xml</file>
                </bannerhome>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bannerhome>
				<use>admin</use>
				<args>
					<module>Futerox_Bannerhome</module>
					<frontName>bannerhome</frontName>
				</args>
			</bannerhome>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<bannerhome module="bannerhome">
				<title>Bannerhome</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="bannerhome">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>bannerhome/adminhtml_bannerhome</action>
					</items>
				</children>
			</bannerhome>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Futerox_Bannerhome>
							<title>Banner home Module</title>
							<sort_order>10</sort_order>
						</Futerox_Bannerhome>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bannerhome>
					<file>bannerhome.xml</file>
				</bannerhome>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bannerhome>
                <class>Futerox_Bannerhome_Model</class>
                <resourceModel>bannerhome_mysql4</resourceModel>
            </bannerhome>
            <bannerhome_mysql4>
                <class>Futerox_Bannerhome_Model_Mysql4</class>
                <entities>
                    <bannerhome>
                        <table>bannerhome</table>
                    </bannerhome>
                </entities>
            </bannerhome_mysql4>
        </models>
        <resources>
            <bannerhome_setup>
                <setup>
                    <module>Futerox_Bannerhome</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannerhome_setup>
            <bannerhome_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerhome_write>
            <bannerhome_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerhome_read>
        </resources>
        <blocks>
            <bannerhome>
                <class>Futerox_Bannerhome_Block</class>
            </bannerhome>
        </blocks>
        <helpers>
            <bannerhome>
                <class>Futerox_Bannerhome_Helper</class>
            </bannerhome>
        </helpers>
    </global>
</config>