<?xml version="1.0"?>
<config>
  <modules>
    <Futerox_NewCategoryView>
      <version>1.0</version>
    </Futerox_NewCategoryView>
  </modules>
   
  <global>
    <models>
      <catalog>
        <rewrite>
          <category>Futerox_NewCategoryView_Model_Category</category>
        </rewrite>
      </catalog>
    </models>
  </global>
</config>