<?xml version="1.0"?>
<config>
    <modules>
        <Videogallery_Videogallery>
            <version>0.1.0</version>
        </Videogallery_Videogallery>
    </modules>
    <frontend>
        <routers>
            <videogallery>
                <use>standard</use>
                <args>
                    <module>Videogallery_Videogallery</module>
                    <frontName>videogallery</frontName>
                </args>
            </videogallery>
        </routers>
        <layout>
            <updates>
                <videogallery>
                    <file>videogallery.xml</file>
                </videogallery>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<videogallery>
				<use>admin</use>
				<args>
					<module>Videogallery_Videogallery</module>
					<frontName>videogallery</frontName>
				</args>
			</videogallery>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<videogallery module="videogallery">
				<title>Videogallery</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="videogallery">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>videogallery/adminhtml_videogallery</action>
					</items>
				</children>
			</videogallery>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Videogallery_Videogallery>
							<title>Videogallery Module</title>
							<sort_order>10</sort_order>
						</Videogallery_Videogallery>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<videogallery>
					<file>videogallery.xml</file>
				</videogallery>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <videogallery>
                <class>Videogallery_Videogallery_Model</class>
                <resourceModel>videogallery_mysql4</resourceModel>
            </videogallery>
            <videogallery_mysql4>
                <class>Videogallery_Videogallery_Model_Mysql4</class>
                <entities>
                    <videogallery>
                        <table>videogallery</table>
                    </videogallery>
                </entities>
            </videogallery_mysql4>
        </models>
        <resources>
            <videogallery_setup>
                <setup>
                    <module>Videogallery_Videogallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </videogallery_setup>
            <videogallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </videogallery_write>
            <videogallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </videogallery_read>
        </resources>
        <blocks>
            <videogallery>
                <class>Videogallery_Videogallery_Block</class>
            </videogallery>
        </blocks>
        <helpers>
            <videogallery>
                <class>Videogallery_Videogallery_Helper</class>
            </videogallery>
        </helpers>
    </global>
</config>