<?xml version="1.0"?>
<config>
    <modules>
        <Futerox_Uploadcolor>
            <version>0.1.0</version>
        </Futerox_Uploadcolor>
    </modules>
    <frontend>
        <routers>
            <uploadcolor>
                <use>standard</use>
                <args>
                    <module>Futerox_Uploadcolor</module>
                    <frontName>uploadcolor</frontName>
                </args>
            </uploadcolor>
        </routers>
        <layout>
            <updates>
                <uploadcolor>
                    <file>uploadcolor.xml</file>
                </uploadcolor>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<uploadcolor>
				<use>admin</use>
				<args>
					<module>Futerox_Uploadcolor</module>
					<frontName>uploadcolor</frontName>
				</args>
			</uploadcolor>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<uploadcolor module="uploadcolor">
				<title>Uploadcolor</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="uploadcolor">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>uploadcolor/adminhtml_uploadcolor</action>
					</items>
				</children>
			</uploadcolor>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Futerox_Uploadcolor>
							<title>Uploadcolor Module</title>
							<sort_order>10</sort_order>
						</Futerox_Uploadcolor>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<uploadcolor>
					<file>uploadcolor.xml</file>
				</uploadcolor>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <uploadcolor>
                <class>Futerox_Uploadcolor_Model</class>
                <resourceModel>uploadcolor_mysql4</resourceModel>
            </uploadcolor>
            <uploadcolor_mysql4>
                <class>Futerox_Uploadcolor_Model_Mysql4</class>
                <entities>
                    <uploadcolor>
                        <table>uploadcolor</table>
                    </uploadcolor>
                </entities>
            </uploadcolor_mysql4>
        </models>
        <resources>
            <uploadcolor_setup>
                <setup>
                    <module>Futerox_Uploadcolor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploadcolor_setup>
            <uploadcolor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploadcolor_write>
            <uploadcolor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploadcolor_read>
        </resources>
        <blocks>
            <uploadcolor>
                <class>Futerox_Uploadcolor_Block</class>
            </uploadcolor>
        </blocks>
        <helpers>
            <uploadcolor>
                <class>Futerox_Uploadcolor_Helper</class>
            </uploadcolor>
        </helpers>
    </global>
</config>