<?xml version="1.0"?>
<config>
    <modules>
        <Futerox_UploadedLogo>
            <version>0.1.0</version>
        </Futerox_UploadedLogo>
    </modules>
    <frontend>
        <routers>
            <uploadedlogo>
                <use>standard</use>
                <args>
                    <module>Futerox_UploadedLogo</module>
                    <frontName>uploadedlogo</frontName>
                </args>
            </uploadedlogo>
        </routers>
        <layout>
            <updates>
                <uploadedlogo>
                    <file>uploadedlogo.xml</file>
                </uploadedlogo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<uploadedlogo>
				<use>admin</use>
				<args>
					<module>Futerox_UploadedLogo</module>
					<frontName>uploadedlogo</frontName>
				</args>
			</uploadedlogo>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<uploadedlogo module="uploadedlogo">
				<title>UploadedLogo</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="uploadedlogo">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>uploadedlogo/adminhtml_uploadedlogo</action>
					</items>
				</children>
			</uploadedlogo>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Futerox_UploadedLogo>
							<title>UploadedLogo Module</title>
							<sort_order>10</sort_order>
						</Futerox_UploadedLogo>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<uploadedlogo>
					<file>uploadedlogo.xml</file>
				</uploadedlogo>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <uploadedlogo>
                <class>Futerox_UploadedLogo_Model</class>
                <resourceModel>uploadedlogo_mysql4</resourceModel>
            </uploadedlogo>
            <uploadedlogo_mysql4>
                <class>Futerox_UploadedLogo_Model_Mysql4</class>
                <entities>
                    <uploadedlogo>
                        <table>uploadedlogo</table>
                    </uploadedlogo>
                </entities>
            </uploadedlogo_mysql4>
        </models>
        <resources>
            <uploadedlogo_setup>
                <setup>
                    <module>Futerox_UploadedLogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploadedlogo_setup>
            <uploadedlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploadedlogo_write>
            <uploadedlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploadedlogo_read>
        </resources>
        <blocks>
            <uploadedlogo>
                <class>Futerox_UploadedLogo_Block</class>
            </uploadedlogo>
        </blocks>
        <helpers>
            <uploadedlogo>
                <class>Futerox_UploadedLogo_Helper</class>
            </uploadedlogo>
        </helpers>
    </global>
</config>