<?xml version="1.0"?>
<config>
    <modules>
        <Futerox_Uploadlogo>
            <version>0.1.0</version>
        </Futerox_Uploadlogo>
    </modules>
    <frontend>
        <routers>
            <uploadlogo>
                <use>standard</use>
                <args>
                    <module>Futerox_Uploadlogo</module>
                    <frontName>uploadlogo</frontName>
                </args>
            </uploadlogo>
        </routers>
        <layout>
            <updates>
                <uploadlogo>
                    <file>uploadlogo.xml</file>
                </uploadlogo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<uploadlogo>
				<use>admin</use>
				<args>
					<module>Futerox_Uploadlogo</module>
					<frontName>uploadlogo</frontName>
				</args>
			</uploadlogo>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<uploadlogo module="uploadlogo">
				<title>Uploadlogo</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="uploadlogo">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>uploadlogo/adminhtml_uploadlogo</action>
					</items>
				</children>
			</uploadlogo>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Futerox_Uploadlogo>
							<title>Uploadlogo Module</title>
							<sort_order>10</sort_order>
						</Futerox_Uploadlogo>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<uploadlogo>
					<file>uploadlogo.xml</file>
				</uploadlogo>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <uploadlogo>
                <class>Futerox_Uploadlogo_Model</class>
                <resourceModel>uploadlogo_mysql4</resourceModel>
            </uploadlogo>
            <uploadlogo_mysql4>
                <class>Futerox_Uploadlogo_Model_Mysql4</class>
                <entities>
                    <uploadlogo>
                        <table>uploadlogo</table>
                    </uploadlogo>
                </entities>
            </uploadlogo_mysql4>
        </models>
        <resources>
            <uploadlogo_setup>
                <setup>
                    <module>Futerox_Uploadlogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploadlogo_setup>
            <uploadlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploadlogo_write>
            <uploadlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploadlogo_read>
        </resources>
        <blocks>
            <uploadlogo>
                <class>Futerox_Uploadlogo_Block</class>
            </uploadlogo>
        </blocks>
        <helpers>
            <uploadlogo>
                <class>Futerox_Uploadlogo_Helper</class>
            </uploadlogo>
        </helpers>
    </global>
</config>