<?xml version="1.0"?>
<config>
    <modules>
        <Futerox_Test>
            <version>0.1.0</version>
        </Futerox_Test>
    </modules>
    <frontend>
        <routers>
            <test>
                <use>standard</use>
                <args>
                    <module>Futerox_Test</module>
                    <frontName>test</frontName>
                </args>
            </test>
        </routers>
        <layout>
            <updates>
                <test>
                    <file>test.xml</file>
                </test>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<test>
				<use>admin</use>
				<args>
					<module>Futerox_Test</module>
					<frontName>test</frontName>
				</args>
			</test>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<test module="test">
				<title>Test</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="test">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>test/adminhtml_test</action>
					</items>
				</children>
			</test>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Futerox_Test>
							<title>Test Module</title>
							<sort_order>10</sort_order>
						</Futerox_Test>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<test>
					<file>test.xml</file>
				</test>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <test>
                <class>Futerox_Test_Model</class>
                <resourceModel>test_mysql4</resourceModel>
            </test>
            <test_mysql4>
                <class>Futerox_Test_Model_Mysql4</class>
                <entities>
                    <test>
                        <table>test</table>
                    </test>
                </entities>
            </test_mysql4>
        </models>
        <resources>
            <test_setup>
                <setup>
                    <module>Futerox_Test</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </test_setup>
            <test_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_write>
            <test_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_read>
        </resources>
        <blocks>
            <test>
                <class>Futerox_Test_Block</class>
            </test>
        </blocks>
        <helpers>
            <test>
                <class>Futerox_Test_Helper</class>
            </test>
        </helpers>
    </global>
</config>